/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@700');
@import url('https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v6.1.2/css/all.css');

/* Utilities */
body {
  margin: 0;
  font-family: Open Sans;
}

h1, h2, h3, h4 {
  font-family:'Sigmar One', cursive;
}

a {
  text-decoration: none;
}

/* Custom design below! */

.banner {
  background-size: cover;
  background-position: center;
  padding: 200px 0;
  }

.container{width: 500px;
  margin: auto;}

  footer {
    text-align: center;
    padding: 60px;
    background-color: #2c2b2b;
    }

    .banner h1 {
      color: white;
      }
          p {
            display: block;
            margin-block-start: 1em;
            margin-block-end: 1em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            }
            .banner p {
              color: white;
              opacity: .7;
              font-size: 20px;
              }

              .btn-primary{
                display: inline-block;
                background-color: green;
                padding: 16px 36px;
                border-radius: 50px;
                color: white;
                }

                .center {
                  display: block;
                  margin-left: auto;
                  margin-right: auto;
                  width: 50%;
                }
